<div class="container" mt-3>
  <!-- <h3>Hola mi nombre es {{persona.nombre}} y me apellido es {{persona.apellido}} mi edad es de {{persona.edad}} años   </h3> -->
 <!-- <h3>La suma de 10+25 ={{getSuma()}}  </h3>-->
 <!-- <img src= {{urlImg}} alt="">-->

   <!-- <h3 [innerHTML]="texto"></h3> -->

   <h3>{{saludo}}</h3>
   <h3> Operacion de una suma   </h3>

   <input type="number" [(ngModel)]="numero1" class="form-control" placeholder="ingrese numero1">
   <br>
   <input type="number" [(ngModel)]="numero2" class="form-control" placeholder="ingrese numero2">                     
   <br>
   <h5> Resultado </h5>
   {{ suma() }}
  <br>

  </div>